.benefits-section {
    background: url(../img/pictures/leaf_white.png) left top 25% no-repeat;
    position: relative;

    &:before {
        content: url(../img/pictures/berries_and_crackers.png);
        position: absolute;
        left: rem(-50px);
        bottom: rem(-155px);
        z-index: $z-cracker-pic;
    }

    @include tablets {
        background-position: left -3% top 5%;
    }

    @include phones {
        background: none;

        &::before {
            display: none;
        }
    }
}

.benefits {
    text-align: center;
    margin-bottom: rem(48px);
}

.benefits__list {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits-section__title {
    margin-bottom: rem(0px);
}

.benefits__text {
    padding: 0 26%;

    @include tablets {
        padding: 0 17%;
        font-size: $baseFontSize + 1px;
    }

    @include phones {
        padding: 0;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0 1%;
        margin-bottom: rem(45px);
        &:last-child {
            margin-bottom: 0;
        }
    }

    &::before {
        content: url(../img/pictures/shape_1.png);
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include phones {
            display: none;
        }

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

//single benefit

.benefit {
    text-align: center;

    @include phones {
        text-align: left;
        display: flex;
        margin-bottom: rem(45px);
    }
}

.benefit__image {
    margin-bottom: rem(20px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(10px);
    }
}

.benefit__image-wrapper {
    display: inline-block;
    height: rem(126px);
    width: rem(126px);
    position: relative;
    background: #f3f5f3;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    height: rem(69px);
    width: rem(75px);
    fill: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__content-title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(10px);
    color: #000000;
}