.button {
    font-size: rem(19px);
    font-weight: 800;
    text-transform: uppercase;
    padding: rem(20px) rem(35px);
    border-radius: rem(50px);
    border: rem(1px) solid transparent;
}

.button--color--white {
    background-color: #ffF;
    color: $darkGreen;
    &:hover {
        background-color: $darkGreen;
        color: #fff;
    }
}

.button--color--green {
    background-color: $darkGreen;
    color: #fff;
    &:hover {
        background-color: $hoverGreen;
    }
}

.button--color--transparent {
    font-size: rem(18px);
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    color: $darkGreen;
    &:hover {
        color: #000;
    }

}