.title {
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            height: rem(356px);
            width: rem(343px);
            background: url(../img/pictures/header_768.png) center center / contain no-repeat;
            margin-bottom: rem(10px);
        }
    }
}

.title__section {
    width: 40%;
    margin-bottom: rem(40px);
    @include tablets {
        width: 100%;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.title__main-title {
    font-size: rem(48px);
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: rem(10px);
}

.title__sub-title {
    font-size: rem(21px);
    line-height: 1.2;
    @include tablets {
        padding: 0 25%;
    }

    @include phones {
        padding: 0 15%;
    }
}

